# This file is a minimal version of the default config file.
# This is NOT supposed to be enough for most servers.
# Please read the fivem documentation:
#   https://aka.cfx.re/server-commands
#   https://docs.fivem.net/docs/server-manual/setting-up-a-server/

## You SHOULD edit the following:
sv_hostname "Toddy's built with CFX Default FiveM!"
sets sv_projectName "[CFX Default FiveM] Toddy's"
sets sv_projectDesc "Recipe for the base resources required to run a minimal FiveM server."
sets tags "default, deployer"
sets locale "root-AQ"

## You CAN edit the following:
sv_enforceGameBuild 3095 #mp2023_02 - The Chop Shop
sv_licenseKey "cfxk_i5ZHGpnIx0acJ4fyHvFJ_1lcRoh"
sv_maxclients 48
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
set steam_webApiKey "none"
set resources_useSystemChat true

## These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:13024123 group.admin #yagotoddy
